<div class="container-fluid color">
  <div class="row">
      <button (click)='home()' mat-fab color="warn" style="top: 10px; left: 10px; position: absolute;">
          <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
      </button>
    <div class="col-md-5 col-center">
      <div class="card mt-20 mb-20">
        <!--<img class="card-img-top img-fluid" [src]="img2.contentUrl" height="100" alt="Card image cap">-->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" [src]="img1.contentUrl"  height="300" width="100"  alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" [src]="img2.contentUrl"  height="300" width="100"  alt="Second slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <div class="card-body">
          <h3 class="card-title">{{people.name}}</h3>
          <div class="card-text">

            <mat-divider></mat-divider>

            <div class="row" style="margin-top: 10px;">
              <div class="col-md-6">
                  <div><span class="bold">Genero: </span>
                    {{people.gender}}
                  </div>
                  <div><span class="bold">Año de nacimiento: </span>
                    {{people.birth_year}}
                  </div>
                  <div><span class="bold">Color de ojos: </span>
                    {{people.eye_color}}
                  </div>
                  <div><span class="bold">Color de cabello: </span>
                    {{people.hair_color}}
                  </div>
                  <div><span class="bold">Color de piel: </span>
                    {{people.skin_color}}
                  </div>
                  <div><span class="bold">Altura: </span>
                    {{people.height}}
                  </div>
                  <div><span class="bold">Peso: </span>
                    {{people.mass}}kg
                  </div>
                  <div><span class="bold">Especie: </span>
                    <span *ngFor='let item of specieList'>{{item.name}}</span>
                  </div>
              </div>
              <div class="col-md-6">
                  <div><span class="bold">Films: </span>
                    {{filmsList.name}}
                    <div *ngFor='let item of filmsList'>
                      {{item.title}}
                    </div>
                  </div>
                  <!--<div><span class="bold">Año de nacimiento: </span>
                    {{people.birth_year}}
                  </div>
                  <div><span class="bold">Color de ojos: </span>
                    {{people.eye_color}}
                  </div>
                  <div><span class="bold">Color de cabello: </span>
                    {{people.hair_color}}
                  </div>-->

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>