<div class="container-fluid fondo">
  <div class="row">
    <div class="col-md-12 mt-30 text-center">
        <img class="center" src="/assets/img/star_wars.png" height="200" width="400" alt="">
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card mt-20" style="padding: 15px;">
        <form class="example-form">
          <mat-form-field class="example-full-width col-md-12">
            <input type="text" #people (keyup)='searchPeople(people.value)' placeholder="Buscar" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of respuesta" [value]="option.name" (click)='selectPeople(option)' >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>