.fondo {
    background: url('/assets/img/fondo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100% ;
}
.prueba{
    font-family: 'star-wars';
    color: red;
}