/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Fuentes */
@font-face {
    font-family: 'star-wars';
    src: url('assets/fonts/starjout/Starjout.ttf');
}
body {
    margin: 0px;
    
}
.bold{
    font-weight: bold;
}
.col-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/*Definiciendo reglas para margenes*/
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 70px;
}
.mb-20{
    margin-bottom: 20px;
}

/*linea inferior input*/
.mat-form-field-ripple{background-color:red}
/*placeholder*/
.mat-form-field-label{color:rgba(0,0,0,.54)}.mat-hint{color:rgba(0,0,0,.54)}.mat-focused .mat-form-field-label{color:red}